
<div class="home">
    <div class="row">
        <div class="col-md-6">
            <div class="jumbotron jumbotron-fluid">
                <div class="container justify-content-center">
                    <h1 class="display-4">
                        <% if current_user %>
                            Welcome, <%= current_user.first_name %>
                        <% else %>
                            Welcome!
                        <% end %>
                    </h1>
                    <p class="lead">Some more welcoming content here</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <header class="text-center">
                <h2>Recent Posts</h2>
            </header>
            <% @posts.each do |post| %>
                <div class="card" style="margin: 15px;">
                    <div class="row">
                        <div class="col-md-8" style="padding: 10px;">
                            <%= image_tag post.thumb_image, width: '60%' %>
                        </div>
                        <div class="col-md-4" style="margin-top: 10%;">
                            <h3><%= link_to post.title, post_path(post) %></h3>
                            <p><small>Last updated <%= distance_of_time_in_words(post.updated_at, Time.now)%> ago</small></p>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>
